$red : hsla(0, 100%, 67%);
$Light-red :  hsla(0, 100%, 67%,0.1);
$Orangey-yellow: hsla(39, 100%, 56%);
$Light-Orangey-yellow: hsla(39, 100%, 56%,0.1);
$Green-teal: hsla(166, 100%, 37%);
$Light-Green-teal: hsla(166, 100%, 37%,0.1);
$Cobalt-blue: hsla(234, 85%, 45%);
$Light-Cobalt-blue: hsla(234, 85%, 45%,0.1);
$Gradiant-background: linear-gradient( hsla(252, 100%, 67%), hsla(241, 81%, 54%));
$Gradiant-circle: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
$White: hsla(0, 0%, 100%);
$Pale-blue: hsla(221, 100%, 96%);
$Light-lavender: hsla(241, 100%, 89%);
$Dark-grayblue: hsla(224, 30%, 27%,0.1);

$paragraphs-Fontsize: 18px;


